#section-1 {
  background-image: url("/img/IMG_1616.jpg");
  background-size: cover;
}
#section-2 {
  background-image: url("/img/pineda-grill-01.jpg");
  background-size: cover;
}
#section-3 {
  background-image: url("/img/brb1.jpg");
  background-size: cover;
}
#section-4 {
  background-image: url("/img/images.jpeg");
  background-size: cover;
}