#section-1 {
  background-image: url("/img/section1.jpg");
  background-size: cover;
}
#section-2 {
  background-image: url("/img/section2.jpg");
  background-size: cover;
}
#section-3 {
  background-image: url("/img/section3.jpg");
  background-size: cover;
}
#section-4 {
  background-image: url("/img/section4.jpg");
  background-size: cover;
}
#section-5 {
    background-image: url("/img/section5.jpg");
    background-size: cover;
}