.section-5__block {
  margin: 0 auto;
  margin-bottom: 150px;
  padding-bottom: 30px;
  width: 350px;
  background-color: black;
  border-radius: 30px;
}
.section-5__header {
  color: ghostwhite;
  text-align: center;
  padding-top: 20px;
}
.section-5__content {
  margin: 0 auto;
  color: ghostwhite;
  padding-left: 10px;
  width: 200px;
  text-align: justify;
}
.section-5__tel {
  display: block;
}
.section-5__content a {
  display: block;
  text-decoration: none;
  margin: 0 auto;
  margin-top: 10px;
  color: ghostwhite;
  padding-left: 16%;
}
@media @tablet-widths {
  .section-5__block {
    margin-right: 50px;
  }
}